.large-bold-heading {
    font-size: 17px;
    font-weight: bold;
  }
 

.layout {
    min-height: 100vh;
    
  }
  
  .header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    
  }
  
  .menu {
    flex: 1;
    min-width: 0;
  }
  
  .search-button {
    margin-left: auto; 
  }
  
  .breadcrumb {
    margin: 16px 0;
  }
  
  .content {
    padding: 0 48px;
    flex: 1;
  }
  
  .inner-layout {
    padding: 24px 0;
    background: var(--color-bg-container); 
    border-radius: var(--border-radius-lg);
  }
  
  .sider {
    background: var(--color-bg-container);
  }
  
  .sider-menu {
    height: 100%;
  }
  
  .item-container {
    display: flex;
    margin-bottom: 100px;
  }
  
  .item-details {
    margin-right: 100px;
  }
  
  .item-image {
    width: 700px;
    height: 700px;
  }
  
  .large-bold-heading {
    font-size: 48px;
    font-weight: bold;
  }
  
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  