body{
  margin: 0;
  padding: 0;
}
.content {
  width: 80%;
  
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: px;
  background-color: rgba(255, 255, 255, 0.8);
}

.content-inner {
  background: #fff;
  border-radius: 8px;
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
}

.carousel img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.carousel{
  width: 100%;
  display: flex;
}

.title{
  margin-top: 30px;
  font-size: 500px;
  color: #fff;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
 
}

.floatbutton{
  right: 50px;
}

.siderStyle{
  text-align: center;
  line-height: 120px;
  color: #fff;
  background-color: #fff;
  margin-top: 64px;
}